.removeBorder:focus-visible {
  border:none;
  outline:none;
}
.homeWrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.heading{
    font-size: 30px;
    width: 1050px;
    height: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productWrapperTop{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.homeProductFilterButton{
  font-size: 15px;
  background-color: rgb(205, 210, 206);
  padding: 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.filterSideBar{
  /* background-color: rgba(132, 132, 132, 0.852); */
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0px;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.5s;
}

.filterSideBarCross{
  font-size: 15px;
  top :6vh;
  left:7vw;
  color: rgb(49, 49, 49);
  position:absolute;
  cursor: pointer;
  z-index: 1;
}

.homeFilterInputFieldWrapper{
  justify-content: center;
  width: 90vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
}


.filterState{
  background-color: #c6d4c6;
  height: 90%;
  width: 43%;
  position: relative;
}

.filterStateInput{
  position: absolute;
  top: 5%;
  left: 10% ;
  height: 36px;
  width: 75%;
  border-radius: 5px;
  border: 0px;
  padding: 4px 10px;
  outline: none;
  box-sizing: border-box;
  padding-right:35px;
}

.filterStateInput::placeholder{
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 10px;
}


.filterStateInputSearch{
  position: absolute;
  right: calc(15% + 10px);
  top: calc(5% + 8px);
  font-size: 20px;
  cursor: pointer;
}

.filterStateDropdown{
  height: 65%;
  width: 75%;
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  list-style: none;
  overflow-y: scroll;
}

.filterStateDropdownItem{
  background-color: rgb(228, 228, 228);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
}


/*----------------------- City drop down -----------------------*/

.filterCity{
  background-color: #c6d6c6;
  height: 90%;
  width: 43%;
  position: relative;
}

.filterCityInput{
  position: absolute;
  top: 5%;
  left: 10% ;
  height: 36px;
  width: 75%;
  border-radius: 5px;
  border: 0px;
  padding: 4px 10px;
  outline: none;
  box-sizing: border-box;
  padding-right:35px;
}

.filterCityInput::placeholder{
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 10px;
}


.filterCityInputSearch{
  position: absolute;
  right: calc(15% + 10px);
  top: calc(5% + 8px);
  font-size: 20px;
  cursor: pointer;
}

.filterCityDropdown{
  height: 65%;
  width: 75%;
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  list-style: none;
  overflow-y: scroll;
}

.filterCityDropdownItem{
  background-color: rgb(228, 228, 228);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
}

/*---------- adding media quries -------------------*/

@media (max-width: 1100px){
    .heading{
      width: 900px;
    }
}

@media (max-width: 950px){
    .heading{
      width: 800px;
    }
}

@media (max-width: 830px){
    .heading{
      width: 700px;
    }
}

@media (max-width: 715px){
    .heading{
      width: 600px;
    }
}

@media (max-width: 630px){
    .heading{
      width: 500px;
    }
}

@media (max-width: 520px){
    .heading{
      width: 300px;
    }
}

@media (max-width: 315px){
    .heading{
      width: 250px;
    }
}


