.homeWrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.heading{
    font-size: 30px;
    width: 1050px;
    height: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productWrapperTop{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.homeProductFilterButton{
  font-size: 15px;
  background-color: rgb(205, 210, 206);
  padding: 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.filterSideBar{
  /* background-color: rgba(132, 132, 132, 0.852); */
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0px;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.5s;
}

.filterSideBarCross{
  font-size: 20px;
  top:5px;
  left:5px;
  color: rgb(49, 49, 49);
  position:absolute;
  cursor: pointer;
}

.homeFilterInputFieldWrapper{
  justify-content: center;
  width: 90vw;
  height: 90vh;
  background-color: rgb(232, 232, 232);
  position: relative;
}

/*---------- adding media quries -------------------*/

@media (max-width: 1100px){
    .heading{
      width: 900px;
    }
}

@media (max-width: 950px){
    .heading{
      width: 800px;
    }
}

@media (max-width: 830px){
    .heading{
      width: 700px;
    }
}

@media (max-width: 715px){
    .heading{
      width: 600px;
    }
}

@media (max-width: 630px){
    .heading{
      width: 500px;
    }
}

@media (max-width: 520px){
    .heading{
      width: 300px;
    }
}

@media (max-width: 315px){
    .heading{
      width: 250px;
    }
}


