footer{
    color:#B9C9BC;
    padding:20px;
    user-select:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: #0A3E33;
    font-family: 'Varela Round', sans-serif;
}

footer h2{
    color: #f8f7f3;
}

.footerWrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap:wrap;
}

.footerIconsWrapper{
    width:100%;
}

.footerIcons{
    max-width:300px;
    padding:20px 0px;
    display:flex;
    justify-content:space-between;
    align-items: center;    
    border-bottom-style: none;
    color:#BCC7BC;
    font-size:xx-large;
}
.footerLinks{
    width:200px;
    margin:20px 0px;
}
.footerLinks ul{
    list-style-type: none;
}

.copyright{
    width:100%;
    font-size: small;
}

footer hr{
    margin:10px 0px;
    width:100%;
    border: 1px solid #f8f7f38a;
    border-bottom-style: none;
}
.footerVerticalRule{
    margin:20px 0px;
    height:110px;
    border-left: 1px solid #f8f7f38a;
}
@media only screen and (max-width: 1070px){
    .footerWrapper{
        justify-content: space-between;
    }
    .footerLinks{
        width:45%;
    }
    #footerVerticalRule2{
        display:none;
    }
}
